#PropertyInfo {
  margin-top: 7em;
  margin-bottom: 5em;
  min-height: 100%;
  padding-bottom: 52px;
  background-color: #fff;
}

#PropertyInfo > .row > #PropertyGallery > .card > .action {
  background-color: #108738;
  color: #fff;
}

#PropertyInfo > .row > #PropertyGallery > .card > .action:hover {
  text-decoration: none;
}

#PropertyInfo > .row > #PropertyDetails > .row > #Address > #GoogleMap {
  width: 110px;
  font-size: 0.8em;
}

#PropertyInfo > .row > #PropertyDetails > .row > #FeatureAmenities > .amenities-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}